

@import url('../../css2');
@import url('../../css2-1');
 :root {
     --pbmit-global-color: #afd616;
     --pbmit-secondary-color: #f3f9ea;
     --pbmit-light-color: #f6f6f6;
     --pbmit-white-color: #ffffff;
     --pbmit-blackish-color: #000000;
     --pbmit-link-color-normal: #000000;
     --pbmit-link-color-hover: #525252;
     --pbmit-global-color-rgb: 175, 214, 22;
     --pbmit-secondary-color-rgb: 31, 29, 29;
     --pbmit-responsive-breakpoint: 1200px;
     --pbmit-body-typography-font-family:'Hanken Grotesk', sans-serif;
     --pbmit-body-typography-variant: regular;
     --pbmit-body-typography-font-size: 16px;
     --pbmit-body-typography-line-height: 1.7;
     --pbmit-body-typography-color: #525252;
     --pbmit-heading-typography-font-family:  'Schibsted Grotesk', sans-serif;
     --pbmit-heading-color: #000000;
     --pbmit-heading-font-variant: 700;
     --pbmit-btn-typography-font-family:  'Schibsted Grotesk', sans-serif;
     --pbmit-btn-typography-variant: 500;
     --pbmit-btn-typography-font-size: 15px;
     --pbmit-btn-typography-line-height: 25px;
}

/*----------------------------------------*/
/* 01 - Typography 
/*----------------------------------------*/
h1, h2, h3, h4, h5, h6 {
    font-family:var(--pbmit-heading-typography-font-family);
    font-weight: 700;
    color: var(--pbmit-heading-color);
}